@model IEnumerable<lab11_efcore_crud.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button class="btn btn-primary">
    <a asp-action="Create" class="nav-link text-white">Create New</a>
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <button class="btn btn-primary">
                    <a class="nav-link text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </button>
            </td>
            <td>
                <button class="btn btn-danger">
                    <a class="nav-link text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
